@model Domain.Entities.Product

<style>
    .card {
        background: white;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px;
    }

    .price-badge {
        background: red;
        color: white;
    }
</style>

<div class="card">
    <div class="row">
        @if (Model.ImageData != null)
        {
            <div class="col-md-4">
                <img class="img-thumbnail" src="@Url.Action("GetImage", "Product", new { Model.Id })" />
            </div>
        }
        <div class="col-md-8">
            <h3>
                <strong>@Model.Name</strong>
                <span class="float-end badge price-badge">@Model.Price.ToString("# руб")</span>
            </h3>
            <p class="lead">@Model.Description</p>
            @using (Html.BeginForm("AddToCart", "Cart"))
            {
                @Html.HiddenFor(x => x.Id)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Добавить в корзину" />
            }
        </div>
    </div>
</div>
